node_modules/
workers/*/node_modules/
workers/assets/model/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
server.ts
waitlist_db.json
trustnode*.zip
*.zip
#Дизайн/
Frame 1.svg
original_logo.svg
